/* nav */
.nav-collapsed {
    background-color: rgb(170, 37, 177);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;;
}

.hidden {
    display: none;
}

#name, #menu-icon {
    margin: auto 2%;
}

/* intro */
.intro {
    background-image: url(../assets/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 300px;
}

.container-left{
    width: 40%;
    margin: 5% 3%;
}

.container-right {
    width: 60%;
}