* {
    color: rgb(75, 43, 7);
}
.header {
    background-color: blue;
}
.header-image {
    /* below centers the image */
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
.footer {
    background-color: blue;
}