* {
    color: black;
}
.header {
    background-color: darkblue;
    text-align: right;
}
.header-image {
    /* below centers the image */
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
.footer {
    background-color: darkblue;
}
/* "display:inline" is what made them sit side by side */
#github {
    display: inline;
    font-size: 25px;
    color: white;
    margin: 10px;
}
#portfolio {
    display: inline;
    font-size: 25px;
    color: white;
    margin: 10px;
}
#contact {
    display: inline;
    font-size: 25px;
    color: white;
    margin: 10px;
}