html, body, div {
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/home-background.gif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed !important;
}

h1 {
  font-family: "Englebert", cursive;
  color: white;
  text-align: center;
  font-size: 50px;
}

.box {
  margin: 0;
  padding: 0%;
  width: 100%;
  box-sizing: border-box;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.badges-container {
  width: 98%;
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.badge-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge-box .badge {
  width: 18%;
  /* padding: 0% 1%; */
  padding: 10px 50px;
  margin: 3%;
  font-size: 60%;
  text-align: center;
  background-color: rgb(255, 78, 166) !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carousel, .slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner {
  width: 80%;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.carousel-indicators {
  display: none;
}

.carousel-image {
  width: 50%;
  height: 60%;
  margin-left: 25%;
  margin-bottom: 300px;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  margin-top: 15px;
  padding-bottom: 2%;
}

.description Button {
  background-color: rgb(12, 166, 221);
  border: none;
  font-family: "Englebert", cursive;
  font-size: 20px;
  margin-top: 20px;
  width: 30%;
}

.description Button:hover {
  background-color: rgb(7, 129, 173);
   transform: scale(1.1);
   animation: tada;
    animation-duration: 1s;
}

.experience-container {
  padding: 8% 3%;
}

.contact-icon {
  width: 15%;
}

.contact-icon:hover {
  animation: swing;
  animation-duration: 1s;
}

.contact-icon img {
  width: 100%;
}

.top-border {
  width: 100%;
  background-color: rgb(128, 121, 255);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-img {
  width: 15%;
  margin-top: 40px;
}

#about {
  background-color: rgba(0, 0, 0, 0.333);
  color: white;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 0%;
  height: 100vh;
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}

#left img {
  width: 90%;
}

#right {
  margin-top: 80px;
  margin-right: 3%;
  color: white;
  font-size: 25px;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.333);
  margin: 0%;
  padding: 0%;
  height: 100vh;
}

#contact {
  margin: 0;
  padding: 0;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .badge {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  body {
    background-color: #e5a7ff;
    background-image: linear-gradient(#e5a7ff, rgb(254, 168, 128), rgb(236, 163, 211))
  }
  
  .badge {
    padding: 3% 13%;
  }

  .carousel-image {
    margin-bottom: 340px;
  }

  .description Button {
    width: 50%;
  }

  #top {
    background-image: url(./assets/home-background.gif);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }

  #about, #portfolio {
    background-color: transparent;
  }
}

@media (max-width: 500px) {
  body {
    background-color: #e5a7ff;
    background-image: linear-gradient(rgb(254, 168, 128), rgb(236, 163, 211))
  }

  .badges-container {
    width: 100%;
    height: 85%;
    flex-direction: row;
  }
  
  .badge {
    padding: 5% 15%;
  }

  #top {
    background-image: url(./assets/home-background.gif);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }

  #logo-img {
    width: 35%;
  }

  #about {
    flex-direction: column;
    align-items: center;
  }

  #left {
    order: 2;
    width: 70%;
  }

  #left img {
    width: 100%;
    overflow: hidden;
  }

  #right {
    order: 1;
    width: 100%;
    margin: 0%;
  }

  #right p {
    margin: 0%;
  }

  .carousel-inner {
    width: 100%;
  }
  
  .carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0%;
  }
  
  .carousel-image {
    width: 95%;
    margin-left: 5%;
    margin-bottom: 430px;
  }
  
  .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin-top: 15px;
  }

  .description Button {
    width: 100%;
  }
}

