html, body, div {
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/sky.jpeg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed !important;
}

h1 {
  font-family: "Englebert", cursive;
  color: white;
  text-align: center;
  font-size: 50px;
}

p, h3 {
  color: white;
}

li {
  font-size: 15px;
}

.fireflies-container {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden !important;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #f0d20c;
  box-shadow: 0px 0px 11px 4px #f0d20c;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.box {
  margin: 0;
  padding: 0%;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.top-border {
  width: 100vw;
  height: 65px;
  background-color: rgb(3, 3, 54);
  overflow: hidden;
}

.bio-pic-container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.bio-pic-container img {
  width: 90%;
}

.skills-box {
  width: 45%;
  height: 420px;
}

.col-sm-3 {
  width: 100%;
}

.skills-box::-webkit-scrollbar {
  display: none;
}

.nav-pills {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-item {
  width: 255px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link, .nav-link .active {
  background-color: rgb(50, 0, 80) !important;
  width: 100%;
  color: white;
}

.nav-link:hover {
  color: black;
}

.col-sm-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 65%;
  margin-top: 15px;
}

.tab-content {
  width: 90%;
  height: 100%;
}

.tab-pane::-webkit-scrollbar {
  display: none;
}

.tab-pane {
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.badge-box, .wri-badge-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: visible;
}

.badge-box .badge, .wri-badge-box .badge {
  width: 20%;
  padding: 10px 70px;
  margin: 8px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(27, 4, 45) !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wri-badge-box .badge {
  width: 30%;
  padding: 10px 100px;
}

.carousel { 
  width: 600px;
  padding-top: 6%;
  overflow: hidden;
}

.carousel-indicators {
  display: none;
}

.carousel-item {
  width: 600px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 400px;
  margin-bottom: 4%;
}

.project-description {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  line-height: 1.6;
}

.project-description button {
  background-color: rgb(27, 4, 45);
  border: none;
  font-family: "Englebert", cursive;
  font-size: 18px;
  margin-top: 14px;
  width: 30%;
}

.project-description button:hover {
  background-color: rgb(4, 1, 6);
  transform: scale(1.1);
  animation: tada;
  animation-duration: 1s;
}

.experience-container {
  padding: 8% 3%;
}

.contact-icon {
  width: 15%;
}

.contact-icon:hover {
  animation: swing;
  animation-duration: 1s;
}

.contact-icon img {
  width: 100%;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-img {
  width: 15%;
  margin-top: 40px;
}

#about {
  color: white;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 0%;
  height: 100vh;
  overflow: hidden;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding: 0%;
  height: 100vh;
}

#portfolio .col {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project1, #project2, #project3, #project4, #project5, #project6, #project7 {
  background-repeat: no-repeat;
  background-size: 100%;
} 

#project1 {
  background-image: url(./assets/gods-and-beasts.png);
  background-size: cover;
}

#project2 {
  background-image: url(./assets/the-box-office-dojo.png);
}

#project3 {
  background-image: url(./assets/coding-study-guide.png);
}

#project4 {
  background-image: url(./assets/password-generator.png);
}

#project5 {
  background-image: url(./assets/know-it-all.png);
}

#project6 {
  background-image: url(./assets/hangman.png);
}

#project7 {
  background-image: url(./assets/elsewhere.png);
}
 
#contact {
  margin: 0;
  padding: 0;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .badge {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  body {
    background-color: rgb(20, 20, 64);
    background-image: none;
  }

  .skills-box {
    width: 95%;
  }

  .carousel {
    width: 500px;
  }

  .carousel-item {
    width: 490px;
  }

  .project-img {
    height: 330px;
  }

  .project-description button {
    width: 60%
  }

  .badges-container {
    height: 320px;
  }

  .bio-pic-container {
    width: 100%;
    height: 200px !important;
    overflow: hidden;
  }

  .bio-pic-container img {
    width: 70%;
  }

  #about {
    flex-direction: column-reverse;
  }
}

@media (max-width: 500px) {
  .carousel {
    width: 310px;
  }

  .carousel-item {
    width: 308px;
  }

  .project-img {
    height: 230px;
  }

  .project-description button {
    width: 90%
  }
}

