html, body, div {
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(20, 20, 64);
}

h1 {
  font-family: "Birthstone", cursive;
  color: white;
  text-align: center;
  font-size: 70px;
}

p, h3 {
  color: white;
}

li {
  font-size: 15px;
}

.fireflies-container {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden !important;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #f0d20c;
  box-shadow: 0px 0px 11px 4px #f0d20c;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.box {
  margin: 0;
  padding: 0%;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.top-border {
  width: 100vw;
  height: 85px;
  background-color: rgb(3, 3, 54);
  overflow: hidden;
}

.bio-pic-container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.bio-pic-container img {
  width: 90%;
}

.skills-box {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

.skills-box .col {
  height: 350px;
  overflow: hidden;
  text-align: center;
  border: 4px double white;
}

.skills-box .col h4 {
  font-family: "Birthstone", cursive;
  font-size: 30px;
  color: white;
}

.skills-box ul {
  line-height: 1.5;
}

.portfolio {
  display: flex;
  flex-direction: row;
  margin: 0%;
  padding: 0%;
  height: 100vh;
}

.carousel { 
  width: 100%;
  padding-top: 6%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner {
  width: 480px;
  height: 510px;
}

.carousel-indicators, .carousel-control-next, .carousel-control-prev {
  display: none;
}

.carousel-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 320px;
  margin-bottom: 4%;
}

.project-description {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  line-height: 1.6;
}

.project-description p {
  font-size: 15px;
}

.project-description button {
  background-color: rgb(91, 17, 135);
  border: none;
  font-family: "Birthstone", cursive;
  font-size: 25px;
  margin-top: 10px;
  width: 30%;
}

.project-description button:hover, .project-description button:active, .project-description button:focus {
  background-color: rgb(62, 11, 91) !important;
  transform: scale(1.1);
  animation: tada;
  animation-duration: 1s;
}

.contol-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contol-btns button {
  width: 100px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.066);
  border: none;
  margin: 0% 20%;
}

.contol-btns button:hover, .contol-btns button:focus, .contol-btns button:active {
  background-color: rgb(0, 0, 67) !important;
}

.experience-container {
  padding: 8% 3%;
}

.contact-icon {
  width: 15%;
}

.contact-icon:hover {
  animation: swing;
  animation-duration: 1s;
}

.contact-icon img {
  width: 100%;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-img {
  width: 15%;
  margin-top: 40px;
}

#about {
  color: white;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 0%;
  height: 100vh;
  overflow: hidden;
}

#carousel-box {
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  height: 90%;
}

#project1, #project2, #project3, #project4, #project5, #project6, #project7, #project8, #project9, #project10, #project11 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
} 

#project1 {
  background-image: url(./assets/gods-and-beasts.png);
}

#project2 {
  background-image: url(./assets/the-box-office-dojo.png);
}

#project3 {
  background-image: url(./assets/coding-study-guide.png);
}

#project4 {
  background-image: url(./assets/password-generator.png);
}

#project5 {
  background-image: url(./assets/know-it-all.png);
}

#project6 {
  background-image: url(./assets/hangman.png);
}

#project7 {
  background-image: url(./assets/elsewhere.png);
}

#project8 {
  background-image: url(./assets/theme-guide.png);
}

#project9 {
  background-image: url(./assets/page-mag.png);
}

#project10 {
  background-image: url(./assets/bu-wales.png);
}

#project11 {
  background-image: url(./assets/script-ex.png);
}
 
#contact {
  margin: 0;
  padding: 0;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .badge {
    font-size: 50%;
  }
}

@media (max-width: 900px) {
  .skills-box {
    width: 95%;
  }

  .bio-pic-container {
    width: 100%;
    height: 200px !important;
    overflow: hidden;
  }

  .bio-pic-container img {
    width: 70%;
  }

  #about {
    flex-direction: column-reverse;
    height: auto;
  }

}

@media (max-width: 500px) {

  .portfolio {
    overflow: hidden;
  }

  .carousel-inner {
    width: 310px;
    height: 100%;
  }

  .carousel, .carousel-item {
    height: 545px;
  }

  .project-description button {
    width: 60%
  }
}

